header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 7%;
}

header a{
    border: 1px solid hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
    text-decoration: none;
    padding: 0.5% 1%;
    border-radius: 30px; 
}

header a:hover{
    opacity: 0.7;
    cursor:pointer;
}

@media only screen and (max-width: 425px){
    header{
        padding: 6% 0;
    }

    .logo{
        height: 21px;
    }

    header a{
        font-size: 9.5px;
        padding: 2% 3%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    header a{
        padding: 1.1% 2.1%;
    }
}