#div-principal-seção-3{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 60vh;
    width: 85%;
    margin: 0 auto;
    padding-top: 3%;
}

#div-principal-seção-3 div{
    height: 90%;
    width: 40%;
}

#div-textos-seção-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div-textos-seção-3 h2{
    font-size: 25px;
    margin-bottom: 5%;
}

#div-img-seção-3{
    background-image: url('../../../public/assets/illustration-flowing-conversation.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

@media only screen and (max-width: 425px){
    #div-principal-seção-3{
        flex-direction: column;
        width: 100%;
        margin: 130px 0;
        height: 80vh;
    }

    #div-principal-seção-3 div{
        width: 80%;
        margin: 0 auto;
        text-align:  center;
        padding: 20px;
    }


    #div-textos-seção-3{
        justify-content: flex-start;
    }

    #div-textos-seção-3 h2{
        font-size: 22px;
    }

    #div-textos-seção-3 p{
        font-size: 15px;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    #div-principal-seção-3{
        align-items: center;
        width: 90%;
        height: 35vh;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1440px){
    #div-principal-seção-3{
        align-items: center;
        width: 90%;
        height: 40vh;
    }
}