.card-seção-incial{
    display: flex;
    flex-direction: column;
}

.card-seção-incial img{
    height: 30px;
    width: 40px;
}

.card-seção-incial span{
    font-size: 50px;
    font-weight: bold;
}

.card-seção-incial p{
    color: rgb(190, 188, 188);
}

@media only screen and (max-width: 425px){
    
    .card-seção-incial span{
        font-size: 45px;
    }

    .card-seção-incial img{
        margin-left: 35px;
        height: 25px;
        width: 30px;
    }

}

@media only screen and (min-width: 426px) and (max-width: 768px){
    .card-seção-incial img{
        margin-left: 8px;
    }
}