section#inicial{
    padding: 7% 5%;
    text-align: center;
}

h1{
    font-size: 30px;
    font-weight:bold;
}

section#inicial p{
    margin: 3% auto;
    margin-bottom: 5%;
    text-align: center;
}

#paragrafo-1{
    width: 40%;
}

#div-banner{
    margin: 8% auto;
    background-image: url('../../../public/assets/screen-mockups.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: 75vh;
    width: 80%;
}

#div-cards-inicial{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 425px){
    section#inicial{
        margin-top: 35px;
        margin-bottom: 0px;
    }

    h1{
        font-size: 25px;
        width: 95%;
        margin: 35px auto;
    }

    #paragrafo-1{
        width: 90%;
    }

    section#inicial p{
        margin-bottom: 17%;
    }


    #div-banner{
        margin: 0 auto;
        width: 90%;
        height: 68vh;
    }

    #div-cards-inicial{
        flex-direction: column;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px){
    #paragrafo-1{
        width: 80%;
    }

    section#inicial{
        margin: 10% 0;
    }

    section#inicial p{
        margin: 8% auto;
    }
}